@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Rubik:wght@300;400;500;700&display=swap");

$lavender-web: #dbd8f0;
$copper-rose: #9c7178;
$light-steel-blue: #afbed1;
$gunmetal: #202c39;
$aero: #7fbeeb;
$rose-ebony: #543b3f;

$body-color: $gunmetal;

$jumbotron-bg: $light-steel-blue;

$enable-responsive-font-sizes: true;

$font-family-sans-serif: "Karla", sans-serif;
$headings-font-family: "Rubik", sans-serif;

$primary: $aero !default;

@import "../node_modules/bootstrap/scss/bootstrap";

html,
body,
body > #__next {
  height: 100%;
}

.container-100vh {
  height: calc(100vh - 56px);
}

.box-shadow-custom {
  -webkit-box-shadow: 1px 1px 12px 5px rgba(0, 0, 0, 0.9) !important;
  box-shadow: 1px 1px 12px 5px rgba(0, 0, 0, 0.9) !important;
}

.box-shadow-custom-btn {
  -webkit-box-shadow: 0px 0px 6px 1px #000000 !important;
  box-shadow: 0px 0px 6px 1px #000000 !important;
}

.react-datepicker-wrapper input {
  width: 120px;
  text-align: center;
}

a {
  color: $rose-ebony !important;
  cursor: pointer;
}

.navbar-brand,
.nav-link {
  color: $gunmetal !important;
}

html {
  font-size: 1rem;
}

.disable-resize {
  resize: none !important;
}
